<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>918327976682-8pna213vvidt6obai6gvq0r8mi1ehdlo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.918327976682-8pna213vvidt6obai6gvq0r8mi1ehdlo</string>
	<key>API_KEY</key>
	<string>AIzaSyC73FlSdh6BxbHOuXM8WcaEqpBpQ4BEHac</string>
	<key>GCM_SENDER_ID</key>
	<string>918327976682</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Fox.HW19</string>
	<key>PROJECT_ID</key>
	<string>hw19-c6e83</string>
	<key>STORAGE_BUCKET</key>
	<string>hw19-c6e83.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:918327976682:ios:0878991cc3a0e774cded93</string>
</dict>
</plist>